// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {color:blue}
td {color:Green;
    font-weight:bold}

input {background-color: #00BFFF;
				   color: DarkGoldenRock;
				   font-weight:bold}
